<nav class="navbar">
  <div class="container">
    <div class="logo">Logo</div>
    <ul class="nav">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<header class="header">
  <div class="container">
    <div>
      <h1>FlexBox Crash Course</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero saepe
        aspernatur, quaerat deleniti beatae quam? Cumque fugit neque
        perspiciatis iure. Exercitationem at sapiente eaque molestias! Minima
        dolorum labore sit autem?
      </p>
    </div>
    <img src="/assets/undraw_runner_start_x0uu.png" />
  </div>
</header>

<section class="boxes">
  <div class="container">
    <div class="box">
      <h2><i class="fas fa-arrows-alt"></i>Alignment & Space</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore,
        excepturi.
      </p>
    </div>
    <div class="box">
      <h2><i class="fa fa-mobile"></i>Alignment & Space</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore,
        excepturi.
      </p>
    </div>
    <div class="box">
      <h2><i class="fas fa-arrows-alt-v"></i>Alignment & Space</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore,
        excepturi.
      </p>
    </div>
  </div>
</section>
